<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Admin Dashboard - Gadget Galaxy</title>

    <link rel="stylesheet" href="/css/dashboard.css">

</head>

<body>
    <div class="page-container">
        <div class="logo-container">
            <h2>Gadget Galaxy-Seller Portal</h2>
        </div>
        <!-- <div class="searchbox">
            <input type="text" placeholder="Search Products..." id="searchInput">
        </div> -->

        <div class="admin-container">

            <!-- Sidebar -->
            <div class="sidebar">

                <h2>Admin Panel</h2>

                <ul>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="/admin/add-product">Add Product</a></li>
                    <li><a href="/admin/banner">Add Banner</a></li>
                    <li><a href="#">Manage Products</a></li>
                    <li><a href="#">Orders</a></li>
                    <li><a href="#">Users</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>

            </div>


            <!-- Main Content -->
            <div class="main-content">

                <header>
                    <h1>Welcome Admin..,</h1>
                </header>

                <section class="dashboard-cards">

                    <div class="card">
                        <h3>Total Products</h3>
                        <p>0</p>
                    </div>

                    <div class="card">
                        <h3>Total Orders</h3>
                        <p>0</p>
                    </div>

                    <div class="card">
                        <h3>Total Users</h3>
                        <p>0</p>
                    </div>

                </section>

            </div>

        </div>
    </div>

    <footer class="footer">
            <div class="footer-container">
                <div class="footer-section">
                    <h3>Gadget Galaxy </h3>
                    <h4> Seller Portal</h4>
                </div>
                <div class="footer-section">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Mobiles</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Offers</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h4>Customer Service</h4>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Order Tracking</a></li>
                        <li><a href="#">Return Policy</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h4>Contact</h4>
                    <p>Email: support@gadgetgalaxy.com</p>
                    <p>Phone: +91 98765 43210</p>
                    <p>Location: Tamil Nadu, India</p>
                </div>
            </div>
            <div class="footer-bottom">
                <p>(c) 2026 Gadget Galaxy. All rights reserved.</p>
            </div>
        </footer>

</body>

</html>