*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f6f9;
}

/* Layout */

.layout{
display:flex;
}

/* Sidebar */

.sidebar {
    width: 308px;
    height: 101vh;
    background: #001e5e;
    color: #ededed;
    padding: 9px;
}

.logo{
text-align:center;
margin-bottom:40px;
}

.menu{
list-style:none;
}

.menu li{
margin-bottom:10px;
}

.menu li a{
display:block;
padding:12px 15px;
border-radius:6px;
text-decoration:none;
color:white;
}

.menu li a:hover

.menu .active a{
background:#2563eb;
}

/* Main Area */

.main-area{
flex:1;
}

/* Topbar */

.topbar{
height:60px;
background:white;
display:flex;
align-items:center;
padding:0 30px;
box-shadow:0 2px 5px rgba(0,0,0,0.05);
}

/* Content */

.content{
padding:40px;
}

/* Form Card */

.form-card{
background:white;
padding:30px;
width:970px;
height: 875px;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.form-card h2{
margin-bottom:20px;
font-size: 32px;
}

/* Form */

form{
display:flex;
flex-direction:column;
}

label{
margin-top:10px;
font-size: 28px;
margin-bottom:5px;
font-weight:bold;
}

input, textarea{
padding:10px;
height: 100px;
width: 900px;
border:5px solid #ccc;
border-radius:6px;
}

text{
    font-size: 20px;
}

textarea{
resize:none;
height:80px;
}

button{
margin-top:20px;
padding:12px;
background:#2563eb;
color:white;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;
}
