/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body */
body {
    background: #f4f6f9;
}

/* Top Container */
.page-container {
    width: 100%;
}

/* Logo */
.logo-container {
    width: 2030px;
    height: 130px;
    padding: 15px 20px;
    background: #1e293b;
    color: white;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

.logo-container h2{
        width: 610px;
    height: 90px;
    margin: 0;
    color: #031960;
    background: #7cc4ae;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
}

/* Search Bar */
.searchbox {
    padding: 10px 20px;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}

.searchbox input {
    width: 250px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

.searchbox input:focus {
    border-color: #2563eb;
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.3);
}

/* Main Layout */
.admin-container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 310px;
    background: #1e293b;
    min-height: 100vh;
    color: rgb(255, 255, 255);
    padding-top: 20px;
}

.sidebar h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    font-size: 24px;
    display: block;
    padding: 12px 20px;
    color: #cbd5e1;
    text-decoration: none;
    transition: 0.3s;
    border-left: 4px solid transparent;
}

/* Hover effect */
.sidebar ul li a:hover {
    background: #2563eb;
    color: white;
    border-left: 4px solid #60a5fa;
}

/* Active (optional) */
.sidebar ul li a.active {
    background: #2563eb;
    color: white;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 30px;
}


/* MAIN AREA */
.main-area {
    flex: 1;
    padding: 30px;
}

/* HEADER */
.topbar h1 {
    margin-bottom: 20px;
    color: #1e293b;
}

/* CONTENT CENTER */
.content {
    display: flex;
    justify-content: center;
}

/* CARD */
.form-card {
    width: 700px;
    height: 400px;
    /* max-width: 500px; */
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
    margin-top: 55px;
}

/* TITLE */
.form-card h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #0f172a;
}

/* FORM */
.form-card form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* INPUT */
.form-card input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    outline: none;
    font-size: 20px;
}

.form-card input:focus {
    border-color: #2563eb;
}

/* BUTTON */
.form-card button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}

.form-card button:hover {
    background: #1d4ed8;
}

.form-card label{
    font-size: 20px;
}



.footer {
    font-size: 26px;
    background: #1e293b;
    color: white;
    padding: 40px 20px;
    /* margin-top: 30px; */
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.footer-section h3,
.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: white;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 20px;
}