body {
    background: #f1f3f6;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Center the whole page */
.page-container {
    max-width: 100%;
    /* margin: 0 auto; */
}

body {
    background: #f3f3f3;
}

/* HEADER */

.logo-container {
    background: #000055;
    color: white;
    padding: 15px 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 100px;
}

.logo-container h2 {
    width: 316px;
    height: 77px;
    margin: 0;
    color: #031960;
    background: #7cc4ae;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;

}

/* SEARCH BAR */

.searchbox {
    height: 55px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 15px ; */
    background: white;
    border-bottom: 1px solid #ddd;
}

/* LEFT */
.left-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.left-section input {
    flex: 1;
    height: 30px;
    width: 100%;
    width: 100%;
    min-width: 0;
    font-size: 20px;
    text-align: left;
}

.left-section button {
    height: 29px;
    width: 78px;
    font-size: 19px;
    text-align: left;
    border-radius: 5px;
}

/* RIGHT */
.right-section {
    display: flex;
    align-items: center;
    gap: 55px;
    font-size: 24px;
    margin-right: 10px;
}

.right-section .login-menu {
    font-size: 28px;
}

.right-section button {
    width: 175px;
    height: 55px;
    font-size: 14px;
    padding: 8px 12px;
    text-align: center;
    border-radius: 5px;

}

/* BRAND CATEGORY */
.brand-category {
    background: rgb(187, 187, 187);
    padding: 1px 20px;
    overflow: hidden;
    /* margin-top: 51px;     */
}

.brand-filter {
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.brand-slider {
    width: 100%;
    overflow: hidden;
}

.brand-track {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: scrollBrands 5s linear infinite;
}

.mobile-brands button,
.brand-track button {
    flex: 0 0 auto;
    padding: 3px 12px;
    border: none;
    background: #f6c4c4;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px;
    width: 163px;
    height: 40px;
}

.brand-track button:hover {
    background: #2874f0;
    color: white;
}

/* animation */

@keyframes scrollBrands {

    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-40%);
    }

}
.brand-category::-webkit-scrollbar {
    display: none;
}

.brand-track:hover {
    animation-play-state: paused;
}


/* Login Card */
.login-page {
    width: 90%;
    max-width: 400px;
    padding: 25px 20px;
    background: rgba(194, 36, 36, 0.15);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    /*  CENTERING */
    margin: 30px auto;
    /* horizontal center */
}




/* Heading */
.login-page h2 {
    margin-bottom: 25px;
    color: rgb(251, 74, 74);
}

/* Inputs */
.login-page input {
    width: 100%;
    /* padding: 12px; */
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    height: 35px;
}

/* Input Focus Effect */
.login-page input:focus {
    box-shadow: 0 0 8px #ffffff;
}

/* Button */
.login-page button {

    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background: #ff6a00;
    color: white;
    font-size: px;
    cursor: pointer;
    transition: 0.3s;
}

.login-page p {
    font-size: 14 px;
    text-align: right;
}

/* 
.email {
    font-size: 28px;;
} */

/* Button Hover */
.login-page button:hover {
    background: #ee0979;
    transform: scale(1.05);
}

/* Signup Text */
.signup-text {
    margin-top: 15px;
    color: white;
}

.signup-text a {
    color: #ffd700;
    text-decoration: none;
}

/* Animation */
@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer {
    font-size: 20px;
    background: #000055;
    color: white;
    padding: 40px 20px;
    /* margin-top: 30px; */
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.footer-section h3,
.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.footer-section ul li {
    text-align: center;
    margin: 6px 0;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: white;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 20px;
}

@media (max-width: 768px) {

    /* HEADER */
    .logo-container {
        justify-content: center;
        height: auto;
        padding: 30px;
    }

    .logo-container h2 {
        font-size: 18px;
        padding: 6px 12px;
        width: auto;
        height: auto;
    }

    /* SEARCH */
    .searchbox {
            height: 55px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 15px; */
    background: white;
    border-bottom: 1px solid #ddd;
    }

    .left-section {
        width: 96%;
        margin-top: 62px;
    }

    .left-section input {
        width: 100%;
        font-size: 19px;
        height: 35px;
    }

    .left-section button {
        height: 29px;
        width: 78px;
        font-size: 19px;
        text-align: left;
        border-radius: 5px;
    }

    /* ICONS */
    .right-section {
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 10px;
        margin-top: -147px;
    }

    /* BRAND */
    .brand-track button {
        font-size: 16px;
        padding: 6px 10px;
    }

    /* LOGIN */
    .login-page {
        margin-top: 7px;
        width: 90%;
        max-width: 350px;
        /* padding: 20px; */
    }

    /* FOOTER */
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer {
        font-size: 14px;
        margin-top: 10px;
    }

    .brand-category {
    background: rgb(187, 187, 187);
    padding: 1px 20px;
    overflow: hidden;
    margin-top: 51px;    
}


    .login-page input {
        width: 100%;
        padding: 0px;
        margin: 10px 0;
        border: none;
        border-radius: 7px;
        font-size: 16px;
        outline: none;
        height: 38px;
}

    /* 
    .left-section
        {
            margin-left: -426px;
        } */
}