body {
    background: #f1f3f6;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Center the whole page */
.page-container {
    max-width: 1500px;
    margin: 0 auto;
}

body {
    background: #f3f3f3;
}

/* HEADER */

.logo-container {
    background: #000055;
    color: white;
    padding: 15px 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 100px;
}

.logo-container h2 {
    width: 316px;
    height: 77px;
    margin: 0;
    color: #031960;
    background: #7cc4ae;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;

}

/* SEARCH BAR */

.searchbox {
    height: 55px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 15px ; */
    background: white;
    border-bottom: 1px solid #ddd;
}

/* LEFT */
.left-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.left-section input {
    flex: 1;
    height: 30px;
    width: 100%;
    min-width: 450px;
    font-size: 20px;
    text-align: left;
}

.left-section button {
    height: 29px;
    width: 78px;
    font-size: 19px;
    text-align: left;
    border-radius: 5px;
}

/* RIGHT */
.right-section {
    display: flex;
    align-items: center;
    gap: 55px;
    font-size: 24px;
    margin-right: 10px;
}

.right-section .login-menu {
    font-size: 28px;
}

.right-section button {
    width: 175px;
    height: 55px;
    font-size: 14px;
    padding: 8px 12px;
    text-align: center;
    border-radius: 5px;

}

/* BRAND CATEGORY */
.brand-category {
    background: rgb(187, 187, 187);
    padding: 1px 20px;
    overflow: hidden;
    margin-top: 0px;
}

.brand-filter {
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.brand-slider {
    width: 100%;
    overflow: hidden;
}

.brand-track {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: scrollBrands 5s linear infinite;
}

.mobile-brands button,
.brand-track button {
    flex: 0 0 auto;
    padding: 3px 12px;
    border: none;
    background: #f6c4c4;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px;
    width: 163px;
    height: 40px;
}

.brand-track button:hover {
    background: #2874f0;
    color: white;
}

/* animation */

@keyframes scrollBrands {

    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-40%);
    }

}

.brand-category::-webkit-scrollbar {
    display: none;
}

.brand-track:hover {
    animation-play-state: paused;
}

/* Main Content */

/* PAGE BACKGROUND */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #dbeafe, #fbcfe8);
    margin: 0;
    padding: 0;
}

/* MAIN CONTAINER */
.user-input {
    max-width: 500px;
    margin: 40px auto;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* HEADINGS */
.user-input h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #222;
    font-size: 36px;;
}

.welcome h2 {
    text-align: center;
    font-size: 24px;
    text-decoration: dotted;
    color: #555;
    margin-bottom: 20px;
}

/* FORM GROUP */
.user-input div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/* LABEL */
.user-input label {
    font-size: 26px;
    margin-bottom: 5px;
    color: #444;
    font-weight: 500;
}

/* INPUT FIELD */
.user-input input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 24px;
    transition: 0.3s;
}

/* INPUT FOCUS EFFECT */
.user-input input:focus {
    border-color: #6366f1;
    outline: none;
    box-shadow: 0 0 5px rgba(99, 102, 241, 0.4);
}

/* BUTTON CONTAINER */
.res-button {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* BUTTONS */
.res-button button {
    flex: 1;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

/* UPDATE BUTTON */
.res-button button:first-child {
    background: #6366f1;
    color: white;
    font-size: 22px;
}

.res-button button:first-child:hover {
    background: #4f46e5;
}

/* LOGOUT BUTTON */
.res-button button:last-child {
    background: #ef4444;
    color: white;
    font-size: 22px;
}

.res-button button:last-child:hover {
    background: #dc2626;
}

.profile-page{
    max-width: 1500px;
    margin: 40px auto;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #f0ab86, #fbcfe8);
}

/* FOTER */

.footer {
    font-size: 20px;
    background: #000055;
    color: white;
    padding: 40px 20px;
    /* margin-top: 30px; */
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.footer-section h3,
.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;              
    text-align: center;      
}

.footer-section ul li {
    text-align: center;
    margin: 6px 0;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: white;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 20px;
}