<h2>Login</h2>

<input id="email" placeholder="Email">
<input id="password" type="password" placeholder="Password">

<button onclick="login()">Login</button>

<p style="margin-top:15px;">
    New user?
    <a href="/signup">Sign Up</a>
</p>

<script>
    function login() {

        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        fetch("/api/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ email, password })
        })
            .then(res => res.json())
            .then(data => {

                if (data.user) {
                    alert("Login successful");
                    window.location.href = "/";
                } else {
                    alert(data.message);
                }

            })
            .catch(err => console.log(err));

    }
</script>